 html, body {
  overflow: hidden;
}
  .wrap_burger_mobile {
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative; 
    height: 80px;
  }
  .title_site {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 21px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .main-navigation ul {
    display: none;
    padding: 0;
    background-color: #FFF5E9;
    position: relative;
  }
 .main-navigation.toggled {
    display: flex;
  flex-direction: column; /* le burger en haut, le menu dessous */
  height: 100vh;          /* plein écran */
  overflow: hidden;       /* empêche les débordements */
  position: relative;
  }
  .menu-toggle {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  .menu-toggle .line {
    height: 1px;
    width: 40px;
  }
    .main-navigation button {
    margin-right: 0px;
  }

  .main-navigation.toggled .menu-toggle .line {
    transition: transform 0.6s ease-in-out;
  }

  .main-navigation.toggled .menu-toggle .line:first-child {
    transform: translate(-5px, 5px) rotate(45deg);
  }

  .main-navigation.toggled .menu-toggle .line:nth-of-type(2) {
    opacity: 0;
  }

  .main-navigation.toggled .menu-toggle .line:nth-of-type(3) {
    transform: translate(-5px, -10px) rotate(-45deg);
  }

/* Début burger menu */
  .main-navigation.toggled ul {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
  position: relative; /* utile pour tes décorations */
  overflow: hidden; 
  }
/* Logo */
  .main-navigation.toggled ul::before {
    content: "";
    position: absolute;
    display: block;
    width: 172px;
    height: 168px;
    top: 32px;
    background-image: url('./assets/logo-header-mobile.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
  }
   @media (max-width: 1024px) {
    .main-navigation.toggled ul::before {
    width: 100px;
    height: 100px;
  }
  }

/* Fleur violette */
  .main-navigation.toggled::before {
    content: "";
    position: absolute;
    top: 100px;
    width: 172px;
    height: 168px;
    background-image: url('./assets/Orchid.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation: infinite-rotate 6s linear infinite;
  }
  @media (max-width: 1024px) {
    .main-navigation.toggled::before {
      width: 100px;
      height: 66px;
      top: 80px;
    
    }
  }

  .main-navigation ul li a {
    font-size: 50px;
    text-align: center;
  }
    @media (max-width: 1024px) {
    .main-navigation ul li a {
      font-size: 32px;
    }
  }

  .main-navigation ul li a:hover {
    text-shadow: #DC8433 1px 1px 10px;
  }
.last_title_footer {
    font-size: 1rem;
    font-weight: lighter!important;
}
  .main-navigation.toggled ul li {
    position: relative;
  }
/* Blue cat */
  .main-navigation.toggled ul li:first-child::before {
    content: "";
    position: absolute;
    left: -160px;
    top: -60px;
    width: 109px;
    height: 98px;
    transform: none;
    background-image: url('./assets/blue-cat.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation: loopMotion 3s ease-in-out 0.2s infinite;

  }

    @media (max-width: 1024px) {
      .main-navigation.toggled ul li:first-child::before {
       height: 55px;
        left: -110px;
        top: 0;
    }
  }
/*Sunflower */
  .main-navigation.toggled ul li:first-child::after {
    content: "";
    position: absolute;
    right: -350px;
    top: -120px;
    width: 216px;
    height: 216px;
    transform: none;
    background-image: url('./assets/sunflower.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation: infinite-rotate 6s linear infinite;
  }
    @media (max-width: 1024px) {
      .main-navigation.toggled ul li:first-child::after {
          top: -10px;
          right: -170px;
          width: 150px;
          height: 100px;
      
        }
  }
/* Purple flower */
  .main-navigation.toggled ul li:nth-of-type(2)::after {
    content: "";
    position: absolute;
    width: 75px;
    height: 75px;
    top: 100%;
    right: -485px;
    background-image: url('./assets/Random-Flower.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation: infinite-rotate 6s linear infinite;
  }
    @media (max-width: 1024px) {
      .main-navigation.toggled ul li:nth-of-type(2)::after {
        right: -100px;
        width: 55px;
        height: 55px;
          
      }
    }
/* Orange flower */
  .main-navigation.toggled ul li:nth-of-type(4)::before {
    content: "";
    position: absolute;
    top: -60px;
    width: 70px;
    height: 70px;
    left: -170px;
    background-image: url('./assets/Flower-orange.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation: infinite-rotate 6s linear infinite;
  }
  @media (max-width: 1024px) {
      .main-navigation.toggled ul li:nth-of-type(4)::before {
       width: 50px;
      height: 50px;
      left: -100px;
          
      }
  }
/* Black cat */
  .main-navigation.toggled ul li:nth-of-type(4)::after {
    content: "";
    position: absolute;
    width: 154px;
    height: 147px;
    right: -200px;
    top: -110px;
    background-image: url('./assets/black-cat.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation: loopMotion 3s ease-in-out 0.2s infinite;
  }
  @media (max-width: 1024px) {
      .main-navigation.toggled ul li:nth-of-type(4)::after {
       width: 70px;
      height: 70px;
      right: -80px;
      top: -5px;
          
      }
  }
  /* Orange cat */
 .main-navigation.toggled ul .last_title_footer::before {
    content: "";
    position: absolute;
    width: 105px;
    height: 95px;
    left: -750px;
    top: -100px;
    background-image: url('./assets/orange-cat.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation: loopMotion 3s ease-in-out 0.2s infinite;
  }
   .main-navigation.toggled ul .last_title_footer::after {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    right: -400px;
    background-image: url('./assets/hibiscus.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  @media (max-width: 1024px) {
      .main-navigation.toggled ul .last_title_footer::after {
    width: 150px;
    height: 150px;
    right: -60px;
    top: 0px;
          
  }
  }

/* fin burger menu */
.banner {
  position: relative;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .banner {
    min-height: 360px;
  }

  .banner video {
    height: 360px;
  }
}

.banner video {
  animation: videoParallax 1s ease;
}

.logo {
  position: absolute;
  animation: logoParallax 1s ease;
}

.logo.loop-motion {
  animation: logoParallax 1s ease, loopMotion 4s ease-in-out 1s infinite;
}

/* Animation de mouvement circulaire */
@keyframes loopMotion {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(10px, 0px);
  }
  /* droite */
  50% {
    transform: translate(0px, 10px);
  }
  /* bas */
  75% {
    transform: translate(-10px, 0px);
  }
  /* gauche */
  100% {
    transform: translate(0px, 0px);
  }
  /* retour en haut */
}

.story__article::after,
.story h2::after,
#story h2::after,
.site-footer::before {
  animation: infinite-rotate 6s linear infinite;
}

@media (max-width: 1024px) {
  .story_title {
    font-size: 30px;
  }
}

@keyframes infinite-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Keyframes */
@keyframes videoParallax {
  from {
    transform: translateY(-50px);
    /* commence légèrement au-dessus */
  }

  to {
    transform: translateY(0);
    /* revient à sa position normale */
  }
}

@keyframes logoParallax {
  from {
    transform: translateY(50px);
    /* commence légèrement en bas */
  }

  to {
    transform: translateY(10px);
  }
}

.story_title {
  display: inline-block;
  /* comme c'est un span il était en inline de base donc ne bouger pas*/
  opacity: 0;
  transform: translateY(50px);
  /* on le place plus bas au départ */
  transition: opacity 2s ease-out, transform 2s ease-out;
}

.story_title.animate {
  opacity: 1;
  transform: translateY(0px);
}

.word_two {
  transition-delay: 0.3s;
}

#characters {
  position: relative;
  z-index: 2;
  padding-top: 60px;
}

@media (max-width: 768px) {
  #characters {
    padding-top: 0px;
  }
}

.characters-header h3 {
  display: inline-block !important;
  background-image: url("./assets/orange_characters_bg.png");
}

@media (max-width: 768px) {

  .characters-header h3,
  #studio h2 {
    display: flex !important;
    flex-wrap: nowrap;
    gap: 10px;
  }
}

.characters-carousel .swiper {
  max-width: 100%;
  width: 100%;
  position: relative;
}

#characters figure {
  text-align: center;
}

/*.swiper-slide {
  width: 30%!important;
}*/

#characters img {
  width: 100%;
}

#characters figcaption {
  margin-top: .5rem;
  font-weight: 600;

}

#place {
  background-image: url("./assets/Studio_Koukaki-image_place.png");
  display: flex;
  width: 100%;
  min-height: 699px;
  background-size: cover;
  position: relative;
}

.place_wrap_cloud {
  top: 100px;
  position: absolute;
}

.place_cloud {
  filter: blur(15px);
  will-change: transform;
  /* optimisation */
  transition: transform 0.1s ease-out;
}

.place_cloud.little {
  filter: blur(20px);
}

#place>div {
  max-width: 580px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 6em;
}

@media (max-width: 768px) {
  #place>div {
    margin-left: 0px;
    padding-right: 16px;
  }
}

.title_place {
  background-image: url("./assets/orange_place_bg.png");
  margin-bottom: -1em;
}

@media (max-width: 1024px) {
  .title_place {
    margin-top: 116px;
  }
}

#place>div p {
  padding-left: 5em;
}

.wrap-oscars {
  display: flex;
  position: relative;
}

.row_oscars {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}

.row_oscars p {
  background-image: url("./assets/orange_oscars_bg.png");
  color: #FFF5E9;
  text-shadow: #DC8433 1px 1px 10px;
  margin-top: 2em;
  padding: 2.5em;
  font-size: 3rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 1024px) {
  .row_oscars p {
    font-size: 1.2rem;
    line-height: 1.2rem;
    background-size: 100% 100%;
  }

  .row_oscars img {
    width: 30%;
  }
}

@media (max-width: 768px) {
  #studio {
    margin-top: 0px;
  }
}

