.banner {
  position: relative;
  overflow: hidden;
}

.banner video {
  animation: videoParallax 1s ease;
}

.logo {
  position: absolute;
  animation: logoParallax 1s ease;
}
.logo.loop-motion {
  animation: logoParallax 1s ease, loopMotion 3s ease-in-out 1s infinite;
}

/* Animation de mouvement circulaire */
@keyframes loopMotion {
  0%   { transform: translate(0px, 0px); }
  25%  { transform: translate(10px, -5px); }
  50%  { transform: translate(0px, -10px); }
  75%  { transform: translate(-10px, -5px); }
  100% { transform: translate(0px, 0px); }
}
.story__article::after, .story h2::after, #studio h2::after, .site-footer::before {
  animation: infinite-rotate 6s linear infinite;
}

@keyframes infinite-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Keyframes */
@keyframes videoParallax {
  from {
    transform: translateY(-50px);
    /* commence légèrement au-dessus */
  }
  to {
    transform: translateY(0);
    /* revient à sa position normale */
  }
}

@keyframes logoParallax {
  from {
    transform: translateY(50px);
    /* commence légèrement en bas */
  }
  to {
    transform: translateY(10px);
  }
}

.story_title {
    display: inline-block;
      /* comme c'est un span il était en inline de base donc ne bouger pas*/
      opacity: 0;
      transform: translateY(50px);
      /* on le place plus bas au départ */
      transition: opacity 2s ease-out, transform 2s ease-out;
}

.story_title.animate {
  opacity: 1;
  transform: translateY(0px);
}

.word_two {
    transition-delay: 0.3s;
}
#characters {
    position: relative;
    z-index: 2;
    padding-top: 60px;
    margin-left: 20px;
}
.characters-header h3 {
  display: inline-block;
  background-image: url("./assets/orange_characters_bg.png");
}
.swiper-3d {
  perspective: none !important;
}

.characters-carousel .swiper{
  max-width: 100%;
  width: 100%;
  position: relative;
}

.swiper-wrapper {
  margin-left: 20px;
  margin-right: 20px;
}

#characters figure {
  text-align: center;
}

#characters img {
  width: 360px;
  height: 360px;
}

#characters figcaption {
  margin-top: .5rem;
  font-weight: 600;

}
#place {
	background-image: url("./assets/Studio_Koukaki-image_place.png");
  position: relative;
  z-index: 1;
  padding: 100px 20px 20px;
}

.place_wrap_cloud {
  top: 100px;
  position: absolute;
}

.place_cloud {
  filter: blur(15px);
  will-change: transform; /* optimisation */
  transition: transform 0.1s ease-out;
}

.place_cloud.little {
  filter: blur(20px);
}

.title_place {
  margin-top: 3em;
  margin-left: 64px;
  display: inline-block;
  background-image: url("./assets/orange_place_bg.png");
}

.wrap-oscars {
  display: flex;
  position: relative;
}

.row_oscars {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}

.row_oscars p {
  background-image: url("./assets/orange_oscars_bg.png");
  color: #FFF5E9;
  text-shadow: #DC8433 1px 1px 10px;
  margin-top: 2em;
  padding: 2em;
  font-size: 3rem;
	font-family: "Quicksand", sans-serif;
  font-weight: 700;
	background-repeat: no-repeat;
	background-size: contain;
}







