/*  banner {
  opacity: 0;
  transform: translateY(-40px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out, background-position 0.1s linear;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  &.is-visible {
    opacity: 1;
    transform: translateY(0);
  }
position: relative;
}*/
 .banner {
  position: relative;
  overflow: hidden;
}
.banner video {
    animation: videoParallax 0.6s ease;
}

.logo {
    position: absolute;
    animation: logoParallax 0.6s ease;
}

//Fleur orange tourne infini
.story__article::after {
    animation: infinite-rotate 6s linear infinite;

 }
 @keyframes infinite-rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
 }


/* Keyframes */
@keyframes videoParallax {
  from {
    transform: translateY(-50px); /* commence légèrement au-dessus */
  }
  to {
    transform: translateY(0); /* revient à sa position normale */
  }
}

@keyframes logoParallax {
  from {
    transform: translateY(50px); /* commence légèrement en bas */
  }
  to {
    transform: translateY(0);
  }
}


